/**************************
   GENERAL
***************************/
$main_bg_color: #bcf2a2;
$container_bg_color: #34495e;

/**************************
    LOADER
***************************/
$primary_color: #fff;