/**************************
   GENERAL
***************************/
$main_bg_color: #bcf2a2;
$container_bg_color: #34495e;

/**************************
    LOADER
***************************/
$bg_blue: #34495e;